.loginbox {
  display: flex;
  width: 20rem;
  height: 28rem;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: var(--White, #fff);

  /* Shadow/xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.loginicon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 8px solid var(--Brand-50, #f9f5ff);
  background: var(--Brand-100, #f4ebff);
}
.loginbox h6 {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.4px;
}
.loginbox p {
  color: var(--Gray-500, #667085);
  text-align: center;
  /* Text sm/Regular */
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.loginform {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.loginform input {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Brand-25, #fcfaff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.loginform input:focus {
  outline: none;
}
.loginform input::placeholder {
  font-size: 10px;
}
.loginform button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7f56d9);
  background: var(--Brand-600, #7f56d9);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}
.signinbox {
  display: flex;
  width: 408px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: var(--White, #fff);

  /* Shadow/xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  position: relative;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.signinbox input {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Brand-25, #fcfaff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.signinbox button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7f56d9);
  background: var(--Brand-600, #7f56d9);
  width: 100%;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}
.backbtn {
  position: absolute;
  left: 15px;
  top: 28px;
  cursor: pointer;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-25 0:19:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
