.navbar{
    height: 100vh;
    width: 20%;
    background-color: #F6F8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 50px;
}
.pfp img{
    border-radius: 50%;
    background-color: #C1D5FE;
}
.listnavs ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    width: 255px;

}
.listnavs ul li{
    display: flex;
    gap: 15px;
    cursor: pointer;
    width: 85%;
    align-items: center;
    /* justify-content: center; */
    padding: 15px;
    padding-left: 70px;
    border-radius: 0px 30px 30px 0px;
    font-weight: 500;
    
   
}
.listnavs ul li:hover{
    background-color: #E1E4EE;
}
